<div class="transaction">
  <img src="https://res.cloudinary.com/opencollective/image/fetch/w_80/{{user.avatar}}" class="round" />
  <span class="title">{{title}}</span>
  <span class="timestamp">{{{moment createdAt}}}</span>
  <span class="amount">{{{currency amount precision=2}}}</span>
</div>
