<img src="{{group.logo}}" />
<h1>{{group.name}}</h1>
<p class="shortdescription">{{group.description}}</p>
<h2>Latest transactions</h2>

<ul>
{{#each transactions}}
  <li>{{> Transaction}}
{{/each}}
</ul>

<ul>
{{#each users}}
  <li>{{> UserProfilePhoto}}
{{/each}}
</ul>

