//_layout.scss
html, body {
  height: 100%;
}
header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 10px 0;
  @include transition;
  -webkit-backdrop-filter: blur(3px);
  &.active {
    background-color: transparentize($lighter-gray, .2);
  }
  ul, ol {
    li {
      display: inline;
      font-size: 12px;
      margin-left: 10px;
      a {
        color: $base;
      }
    }
  }
  img {
    max-width: 35px;
  }
}

body:not(#home) {

  .pushdown {
    margin-top: 60px;
  }

  .amount {
    display: inline-block;
    width: 60px;
  }

  h3 {
    color: $blue;
    margin-top: 40px;

    a {
      color: $blue;
    }

  }

  h4 {
    color: $blue;
    font-weight: bold;
    margin-top:20px;
    margin-bottom: 5px;
    font-size: 13pt;
  }

  p {
    margin: 10px 0px;
  }

  ul.list {
    li {
      font-size: 18px;
      &:before {
        content: "•";
        font-size: 25px;
        color: $turquoise;
        margin-right: 10px;
      }
    }
  }
}

section {
  background-color: $light;
  color: $base;
  @include border-box;

  &:first-of-type {
    padding-top: 12%;
    background: $light url('../../assets/gradient01.png') top center no-repeat;
    background-size: cover;
    img {
      width: 100%;
    }
  }
  .preview {
    width: 100%;
    margin: 0 auto;
    display: block;
  }


  &#steps {
    background: $light url('../../assets/gradient02.png') top center no-repeat;
    background-size: cover;
    .instructions {

      h3 {
        @include bold;
      }

      .item {

        img {
          max-height: 40px;
          max-width: 50px;
        }

        &:first-child {
          span {
            color: $bright-yellow;
          }
        }

        &:nth-child(2) {
          span {
            color: $pink;
          }
        }

        &:last-child {
          span {
            color: $purple;
          }
        }

      } //item

    } //instructions

  }// steps

}//section

#followUp {
  padding: 5%;
  border-top: 3px solid $mid-gray;
  @include border-box;
  @include box-shadow;
  @include solid-transparent;

}

form {

 textarea, select, option, button, input {
  width: 100%;
  margin: 1% 0 4% 0;
}
textarea {
  height: 120px;
}
input[type="text"], input[type="email"], textarea{
  background-color: transparentize($lighter-gray, .5);
  color: $dark-gray;
  font-size: 20px;
  padding: 10px 20px;
  min-width: 50%;
  resize: none;
  @include regular;
  @include border-box;
  @include border-radius(2px);
  @include appeareance;
  @include transition;
  border: 1px solid $blue; //to make transition smooth and avoid jumpyness
  &::-webkit-input-placeholder {
    @include italic;
  }
  
  &::-moz-placeholder {  
    @include italic;
  }
  
  &:-ms-input-placeholder {  
    @include italic;
  }
  
  &:disabled {
    background-color: $light-gray;
  }
  
  &:focus, &.focus {
    border: 1px solid $blue;
    outline: 0;
  }

  &:hover, &.hover {
    color: $blue;
    border: 1px solid $blue;

    &::-webkit-input-placeholder {
      color: $blue;
    }

    &::-moz-placeholder {  
      color: $blue;
    }

    &:-ms-input-placeholder {  
      color: $blue;
    }

  }
} //text & textarea

  label {
    @include semibold;
  }

  input{
    border: 0 none;
    padding: 11px 20px 12px;
    font-size: 18px;
    @include border-radius(2px);
    @include transition;
    @include border-box;
    background-color: transparentize($lighter-gray, .5);

    &:hover, &:active {
      background-color: transparentize($lighter-gray, .2)
    }

  }

  button, input[type="submit"] {
    border: 0 none;
    color: $light;
    padding: 10px 20px;
    height: 46px;
    margin-top: 3px;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    @include bold;
    @include transition;
    @include border-radius(2px);
    background-color: $pinkish-red;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;

    &:hover {
      background-color: darken($pinkish-red, 8%)
    }

  }

  select {
    -moz-appearance: none;
    -webkit-appeareance: none;

    @include regular;
    font-size: 20px;
    height: 45px;
    @include border-radius(2px);
    color: $base;
    border: 0 none;
    background-color: transparentize($lighter-gray, .5);
    margin-bottom: 20px;
    display: block;
    padding: 10px 20px;
    @include appeareance;
  }
}

footer {
  background-color: $dark-gray;
  padding: 20px 0;
  color: $light-gray;
  @include italic;
  p {
    font-size: 16px;
  }
}



// Switch
.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
  &:before, &:after {
    display: block;
    float: left;
    width: 50%;
    height: 40px;
    padding: 0;
    line-height: 40px;
    font-size: 16px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
  }
  &:before {
    content: "YES";
    padding-left: 15px;
    background-color: $blue;
    color: $light;
  }
  &:after {
    content: "NO";
    padding-right: 15px;
    background-color: $pinkish-red;
    color: $light;
    text-align: right;
  }
}

.onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 11px;
  background: $light;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 46px;
  border: 2px solid $light;
  border-radius: 5px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
  .onoffswitch-inner {
    margin-left: 0;
  }
  .onoffswitch-switch {
    right: 0px;
  }
}

.hidden {
  display: none;
  visibility: hidden;
}

@media only screen and (max-device-width: 480px) {
  h1 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  h2, h3 {
    font-size: 20px;
    line-height: 28px;
  }
  h2 {
    padding-bottom: 6%;
  }
  body {
    font-size: 15px;
  }
  footer img {
    width: 50%;
  }
  .menu li a {
    font-size: 9px;
  }
  .instructions {
    margin-bottom: 20px;
  }
  .bpush-1 {
    padding-bottom: 6%;
  }
  section:first-of-type {
    padding-top: 18%;
  }

}
