//_palette.scss

$light: #fff;
$base: #4f5e70;
$blue: #46b0ed;
$pink: #ffbbcd;
$purple: #dca5e3;
$bright-yellow: #fde9a3;
$pinkish-red: #e51f62;
$dark-gray: #3e4448;
$mid-gray: #c1c2cb;
$light-gray: #abb3c3;
$lighter-gray: #f8faf9;
$navy: #5062bc;

$turquoise: #34d6bf;