//_layout.scss

header {
    
}

section {
    &#start {
        background: $light url('../../assets/gradient.png') no-repeat center center fixed;
        @include bgcover;
    }
    &#steps {
        background-color: $base;
        color: $light-gray;
        .instructions {
            h3 {
                @include bold;
                span {

                }
            }
        }
        form {
            input {
                border: 0 none;
                padding: 15px;
                font-size: 16px;
                @include border-radius(2px);
            }
            button {
                border: 0 none;
                background-color: $pinkish-red;
                color: $light;
                padding: 15px 20px 16px;
                font-size: 16px;
                @include border-radius(2px);
            }
        }
    }
}
