//_layout.scss
html, body {
    height: 100vh;
}

header {
    height: 5vh;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    padding: 1vh 0;
}

section {
    &#start {
        background: $light url('../../assets/gradient.png') no-repeat center center fixed;
        @include bgcover;
        height: 55vh;
        overflow: hidden;
        .preview {
            display: table-cell;
            vertical-align: bottom;
            width: 100%;
        }

    }
    &#steps {
        background-color: $base;
        color: $light-gray;
        height: 40vh;
        .instructions {
            h3 {
                @include bold;
            }
            .item {
                &:first-child {
                    span {
                        color: $cyan;
                    }
                }
                &:nth-child(2) {
                    span {
                        color: $lime-green;
                    }
                }
                &:last-child {
                    span {
                        color: $bright-yellow;
                    }
                }
            }
        }
        form {
            input {
                border: 0 none;
                padding: 1.1vh 2vh;
                font-size: 1.8vh;
                @include border-radius(.2vh);
                @include transition;
                background-color: transparentize($light, .5);
                width: 90%;

                &:hover, &:active {
                    background-color: transparentize($light, .2)
                }
            }
            button {
                border: 0 none;
                background-color: $pinkish-red;
                color: $light;
                padding: 1vh 2vh;
                font-size: 1.8vh;
                @include border-radius(.2vh);
                cursor: pointer;
                @include transition;
                @include bold;
                width: 95%;
                &:hover {
                    background-color: darken($pinkish-red, 8%)
                }
            }
        }
    }
}

footer {
    background-color: $dark-gray;
    padding: 20px 0;
    color: $light-gray;
    height: 5vh;
}
