//_typeworks.scss

body {
    font-size: 2vh;
    font-weight: normal;
    color: $base;
    @include font-smoothing;
    @include regular;
}

h2 {
    font-size: 2vh;
    font-weight: normal;
    @include regular;
    line-height: 2.6vh;
}

nav {
    text-transform: uppercase;
    font-size: 1.2vh;
}

p {
    line-height: 2.3vh;
}

ul, ol {
    li {
        font-weight: normal;
        display: inline;
        font-size: 1.2vh;
        //bold
        margin-right: 6.0vh;
        &:last-child {
            margin-right: 0;
        }
        a {
            color: $base;
        }
    }
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

form {
    input, button {
        font-size: 1.6vh;
        @font-weight: normal;
        @include regular;
    }
}